---
http_interactions:
- request:
    method: post
    uri: https://sandbox.clicksign.com/api/v1/signers/?access_token=CLICKSIGN_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: '{"signer":{"email":"francisco+teste@nexoos.com.br","auths":["email"],"delivery":"email"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bcbe0331ff77411dc2d020062a8f5b7f"
    body:
      encoding: UTF-8
      string: '{"signer":{"key":"6fa5fc10-dcbe-4bae-a361-0350ea44fb5d","email":"francisco+teste@nexoos.com.br","auths":["email"],"delivery":"email","name":null,"documentation":null,"birthday":null,"phone_number":null,"has_documentation":true,"created_at":"2019-03-27T11:47:02.299-03:00","updated_at":"2019-03-27T11:47:02.299-03:00"}}'
  recorded_at: Wed, 27 Mar 2019 14:47:02 GMT
recorded_with: VCR 4.0.0
