---
http_interactions:
- request:
    method: post
    uri: https://sandbox.clicksign.com/api/v1/batches?access_token=CLICKSIGN_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: '{"batch":{"signer_key":"6fa5fc10-dcbe-4bae-a361-0350ea44fb5d","document_keys":["28343efd-dccb-4e7a-9989-49e792b3c266"],"summary":true}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"efab83f21572cd65c5124f465657950b"
    body:
      encoding: UTF-8
      string: '{"batch":{"key":"d98c9561-3750-4dab-a7a2-46676a148afd","request_signature_key":"d98c9561-3750-4dab-a7a2-46676a148afd","url":"https://sandbox.clicksign.com/sign/d98c9561-3750-4dab-a7a2-46676a148afd","signer_key":"6fa5fc10-dcbe-4bae-a361-0350ea44fb5d","document_keys":["28343efd-dccb-4e7a-9989-49e792b3c266"],"summary":true,"created_at":"2019-04-09T12:56:37.621-03:00","updated_at":"2019-04-09T12:56:37.621-03:00"}}'
  recorded_at: Tue, 09 Apr 2019 15:56:56 GMT
recorded_with: VCR 4.0.0
