---
http_interactions:
- request:
    method: post
    uri: https://sandbox.clicksign.com/api/v1/lists/?access_token=CLICKSIGN_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: '{"list":{"document_key":"9021bc64-1d76-464b-b5f6-fd2b88689151","signer_key":"9cf90864-9852-4c81-a844-b7f7ebfbf4bf","sign_as":"party"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f51aeb02a0f9eeb79142dbac0c976de"
    body:
      encoding: UTF-8
      string: '{"list":{"key":"178a3ab2-3c06-4431-975a-86b0b99d51c5","request_signature_key":"793a0f7d-86cf-4bba-817b-86cd30b68ea0","document_key":"9021bc64-1d76-464b-b5f6-fd2b88689151","signer_key":"9cf90864-9852-4c81-a844-b7f7ebfbf4bf","sign_as":"party","created_at":"2019-03-27T11:00:25.645-03:00","updated_at":"2019-03-27T11:00:25.645-03:00","url":"https://sandbox.clicksign.com/sign/793a0f7d-86cf-4bba-817b-86cd30b68ea0"}}'
  recorded_at: Wed, 27 Mar 2019 14:00:25 GMT
recorded_with: VCR 4.0.0
