---
http_interactions:
- request:
    method: post
    uri: https://sandbox.clicksign.com/api/v1/lists/?access_token=CLICKSIGN_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: '{"list":{"document_key":"28343efd-dccb-4e7a-9989-49e792b3c266","signer_key":"6fa5fc10-dcbe-4bae-a361-0350ea44fb5d","sign_as":"transferor"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52c6d7f23259aa5c3f815c7fc84e7bf4"
    body:
      encoding: UTF-8
      string: '{"list":{"key":"8c5cf01d-09d2-474c-b9a1-b4ef6bc1b603","request_signature_key":"098d063e-f958-429e-8b61-88f131cfbee2","document_key":"28343efd-dccb-4e7a-9989-49e792b3c266","signer_key":"6fa5fc10-dcbe-4bae-a361-0350ea44fb5d","sign_as":"transferor","created_at":"2019-03-27T14:33:29.864-03:00","updated_at":"2019-03-27T14:33:29.864-03:00","url":"https://sandbox.clicksign.com/sign/098d063e-f958-429e-8b61-88f131cfbee2"}}'
  recorded_at: Wed, 27 Mar 2019 17:33:30 GMT
[...]
- request:
    method: post
    uri: https://sandbox.clicksign.com/api/v1/lists/?access_token=CLICKSIGN_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: '{"list":{"document_key":"28343efd-dccb-4e7a-9989-49e792b3c266","signer_key":"6fa5fc10-dcbe-4bae-a361-0350ea44fb5d","sign_as":"contractee"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a4219961ae89a83293de286382603fad"
    body:
      encoding: UTF-8
      string: '{"list":{"key":"bb1a4b55-cd16-4778-b2dc-9184160026b8","request_signature_key":"25043ad8-1164-452e-ba7d-60c17dd29ca6","document_key":"28343efd-dccb-4e7a-9989-49e792b3c266","signer_key":"6fa5fc10-dcbe-4bae-a361-0350ea44fb5d","sign_as":"contractee","created_at":"2019-03-27T14:33:31.462-03:00","updated_at":"2019-03-27T14:33:31.462-03:00","url":"https://sandbox.clicksign.com/sign/25043ad8-1164-452e-ba7d-60c17dd29ca6"}}'
  recorded_at: Wed, 27 Mar 2019 17:33:31 GMT
recorded_with: VCR 4.0.0
